@{
    ViewBag.Title = "Employee Management";
}

<div class="jumbotron">
    <h1>Employee Management System</h1>
    <p class="lead">Our Employee Management System helps you efficiently manage employee information, track performance, and streamline HR processes.</p>
    <p><a href="Employee/Index" class="btn btn-primary btn-lg">View Employees &raquo;</a></p>
</div>

